.header {
    background-color: lightblue;
    height: 30px
}

.container>* {
    display: inline-block;
    margin: 20px;
}

.card {
    width: 14rem;
}

.board-box-title {
    text-align: center;
}

.story-in-board {
    outline: 1px solid;
    display: inline-block;
    display: grid;
    grid-auto-flow: column;
    grid-column-gap: 90px;
    height: 33px;
}

.story-title .time-estimate {
    display: inline-block;
    padding: 0.5em 0.5em
}

a {
    color: inherit;
}