.header {
    background-color: lightblue;
    /* color: lightblue; */
}

.story-item {
    border-style: solid;
}

.first-story {}

.story-title {
    padding: 10px;
}

.story-time {
    padding: 10px;
}

.story-description {
    margin: 10px;
}