.Profile {
    display: -webkit-flex;
    display: flex;
}

.sidebar {
    height: 100vh !important;
}

.page-content {
    -webkit-flex: 1;
    flex: 1;
}

#profile-img {
    display: block;
    border-radius: 100px;
    margin: auto auto;
    width: 200px;
    /* width of container */
    height: 200px;
    /* height of container */
    object-fit: cover;
    border: 2px solid black;
    object-position: 0% 0%;
}

.profile-info {
    display: block;
}

.row {
    margin: auto auto;
}

button {
    display: block;
    margin: auto auto;
}