#profile-img {
    display: block;
    border-radius: 100px;
    margin: auto auto;
    width: 200px;
    /* width of container */
    height: 200px;
    /* height of container */
    object-fit: cover;
    border: 2px solid black;
    object-position: 0% 0%;
}

.Profile {
    display: grid;
    margin: 0 auto;
}

.center {
    margin: 0 auto;
}